.virtenv/

data-config/
pretrained_weights/

# tools files
tools/make_UAVDT_with_ignore.py
tools/create_UAVDT.py
tools/data_visualization.ipynb
tools/data_presentation

track_results

tests

# __pycache__ folders
**/__pycache__/
